/vendor/
/node_modules/
*.map
*.min.*
!assets/css/dist/fp-experiences-admin.min.css
!assets/js/dist/fp-experiences-admin.min.js
!build/fp-experiences/assets/css/dist/fp-experiences-admin.min.css
*.zip
*.png
*.jpg
*.gif
*.woff*
*.ttf
*.otf
*.pdf
.DS_Store
Thumbs.db

.phpunit.cache/
